// TEXT COLOR
$color-gray-1: #495057;
$color-gray-2: #212529;
// COLOR
$color-gray-light: #ced4da;
$color-gray-light-2: #dee2e6;
$color-gray-light-3: #f8f9fa;
// Primary color
$second-color: #5c7cfa;
$second-color-dark: #364fc7;
